<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="fa" />
        <meta name="keywords" content="">
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, shrink-to-fit=no" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static '/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'assets/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '{% static 'assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'assets/fonts/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/cbx.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
        <link href="{% static 'assets/css/flickity.css' %}"  rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>

    </head>
    <body>
        <div id="top"></div>
        <div class="modal-login">
            <div class="border-glass">
                <div id="login-signup">
                    <a href="javascript:void(0)" id="close-modal"><i class="fa fa-close"></i></a>

                        <ul class="nav nav-tabs">

                            <li style="display:none"><a id="dontRemember" data-toggle="tab" href="#dontRem"></a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="login" class="tab-pane fade show active">
                                <form id="loginform"  action="">

                                    <input required="required" class="default-input login-input" type="password" name="txtPass">
                                    <input class="inp-cbx" id="cbxRemember" type="checkbox" style="display: none;"/>
                                    <label class="cbx" for="cbxRemember">
                                        <span>
                                            <svg width="12px" height="10px" viewbox="0 0 12 10">
                                                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                            </svg>
                                        </span>

                                    </label>


                                </form>
                            </div>
                            <div id="signup" class="tab-pane fade">
                                <form id="signupform"  action="">

                                </form>
                            </div>
                            <div id="dontRem" class="tab-pane fade">
                                <form id="dontRemform"  action="">

                                    <input required="required" class="default-input login-input" type="email" name="txtNewUser">

                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <nav id="mynav" class="rtl">
            <div class="navbar-brand">

            </div>
            <span class="navbar-toggle"><span></span></span>
&nbsp;
            <div class="">
              <br>
               <i  class=""><a href="{% url 'accounts:newuser' %}">User Signup</a></i>&nbsp;&nbsp;
                <i  class=""><a href="{% url 'accounts:newclinicuser' %}">Clinic Signup</a></i>

            </div>
            <ul>


                    <ul>


                            <ul>

                            </ul>
                        </li>

                            <ul>



                            </ul>
                        </li>


                            <ul>


                            </ul>
                        </li>


                            <ul>

                            </ul>
                        </li>


                            <ul>

                            </ul>
                        </li>


                            <ul>


                            </ul>
                        </li>


                            <ul>

                            </ul>
                        </li>


                            <ul>


                            </ul>
                        </li>


                            <ul>


                            </ul>
                        </li>

                    </ul>
                </li>



                    <ul>

                    </ul>
                </li>


            </ul>

        </nav>

                {% block content %}


                {% endblock %}



                        <section id="footer">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 p-0">

                                </div>
                                <div class="col-md-3 col-sm-12 p-0">

                                </div>
                                <div class="col-md-3 col-sm-12 p-0">

                                </div>
                                <div class="col-md-3 col-sm-12 p-0">




                                </div>
                            </div>

                        </section>
                        <div class="bottom-end">

                        </div>

                            <a href="#top" class="gotop">
                                <i class="fa fa-angle-up"></i>
                            </a>
                            <div id="loading">

                            </div>

                        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
                        <script type="text/javascript" src="{% static 'assets/js/ResizeSensor.js'%}"></script>
                        <script type="text/javascript" src="{% static 'assets/js/sticky-sidebar.min.js'%}"></script>
                        <script src="{% static 'assets/js/flickity.js' %}"></script>
                        <script>
                            $(document).ready(function(){
                                videosectionCorrection();
                                $(window).resize(function(){
                                    videosectionCorrection();
                                })

                            })
                            function videosectionCorrection(){
                                var h1=  $(".flickity-viewport").first().css('padding-top');

                                  $(".carousel-nav").css({'max-height':h1});
                                  h1 ='calc('+h1+' + 10px)';
                                  $(".most-visited").css({'max-height':h1});

                                  var h2 = 'calc('+h1+' - 42.75px)';
                                  $(".most-content").css({'max-height':h2});
                            }
                                //video carousel flickity

                                var $carousel = $('.carousel').flickity();

                               var $carouselNav = $('.carousel-nav');
                               var $carouselNavCells = $carouselNav.find('.carousel-cell');

                               $carouselNav.on( 'click', '.carousel-cell', function( event ) {

                               var index = $( event.currentTarget ).index();
                               $carousel.flickity( 'select', index );
                               });

                               var flkty = $carousel.data('flickity');
                               var navTop  = $carouselNav.position().top;
                               var navCellHeight = $carouselNavCells.height();
                               var navHeight = $carouselNav.height();

                               $carousel.on( 'select.flickity', function() {
                               // set selected nav cell
                               $carouselNav.find('.is-nav-selected').removeClass('is-nav-selected');
                               var $selected = $carouselNavCells.eq( flkty.selectedIndex )
                                   .addClass('is-nav-selected');
                               // scroll nav
                               var scrollY = $selected.position().top +
                                   $carouselNav.scrollTop() - ( navHeight + navCellHeight ) / 2;
                               $carouselNav.animate({
                                   scrollTop: scrollY
                               });
                               });
                           </script>




                    </body>
                </html>
