{% extends "base.html" %}

{% load static %}

{% block content %}


        <section id="main-content">
            <div class="row main-content">

                <div class="col-xl-2 col-lg-3 col-md-12 p-0 order2">
                    <div class="sidebar2">
                    <div class="sidebar__inner2">
                        <div class="bg-white">
                            <nav id="side-nav" class="rtl">
                                <ul>

                                  <div class="">
                                    <form method="post" >
                                      {% csrf_token %}
                                        <table border="3">
                                      {{ form }}
                                      </table>
                                      <button type="submit">Submit</button>
                                    </form>
                                  </div>



                                </ul>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="col-xl-10 col-lg-9 col-md-12 p-0 orde1">
                        <div class="content">
                            <section id="books-section">

                             <div class="books-div">
                                 <div class="row">
                                   {% for item in clinic_list %}
                                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                                       <a href="{% url 'clinics:clinic_details' id=item.id %}">
                                         <div class="book-content">
                                             <img src="{% if item.image %}{{ item.image.url }} {% endif %}">
                                             <p>{{ item.name }}</p>
                                             <p>{{ item.field }}</p>
                                             <a class="tag" href="">{{ item.phone }}</a>
                                         </div>
                                         </a>
                                     </div>
                                    {% endfor %}


                                 </div>





                            </div>
                        </section>
                        </div>
                    </div>
            </div>
        </section>

        {% endblock %}
